@media (min-width: 1000px) {
  .showcase-img,
  .agnes-img,
  .nrs-img {
    height: 700px; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #323232;
  font-family: "Open Sans", sans-serif;
  font-weight: 200; }
  body .yellow {
    color: #af9540; }
  body header {
    height: 12vh;
    display: flex;
    border-bottom: solid 1px #f4f4f4ce;
    color: #f4f4f4ce; }
    body header h1 {
      padding-left: 1rem;
      font-weight: 100;
      font-size: 1.7rem;
      align-self: center; }
      body header h1 span {
        font-weight: 900; }
    body header ul {
      align-self: center;
      margin-left: auto;
      display: flex;
      list-style: none;
      padding-right: 2rem; }
      body header ul li {
        padding-right: 1rem; }
        body header ul li:hover {
          cursor: pointer; }
  body .showcase {
    width: 85%;
    margin: 70px 0;
    position: relative;
    margin-left: auto; }
    body .showcase p {
      padding-right: 6rem;
      color: #f4f4f4ce;
      font-size: 1.5rem;
      font-weight: 600;
      width: 70%; }
    body .showcase .showcase-img {
      background: url(/img/showcase.jpeg);
      height: 500px;
      width: 100%;
      background-size: cover;
      margin-top: 4rem; }
    body .showcase .floating-text {
      font-family: "Londrina Outline", cursive;
      color: #af9540;
      font-size: 200px;
      position: absolute;
      top: 83%;
      left: -10%; }
  body #believe {
    color: #f4f4f4ce;
    font-size: 1.5rem;
    padding: 5rem; }
  body .big-agnes {
    width: 80%;
    margin: 120px 0;
    position: relative;
    padding-top: 5rem; }
    body .big-agnes .agnes-img {
      background: url(/img/agnes.jpg);
      height: 500px;
      width: 90%;
      background-size: cover; }
    body .big-agnes .company-description {
      width: 250px;
      height: 400px;
      position: absolute;
      top: 50%;
      right: -17%;
      color: #f4f4f4ce;
      font-size: 1.3rem; }
      body .big-agnes .company-description a {
        text-decoration: none;
        color: #af9540; }
        body .big-agnes .company-description a:hover {
          color: #f4f4f4ce; }
    body .big-agnes .agnes-floating-text {
      font-family: "Londrina Outline", cursive;
      color: #af9540;
      font-size: 200px;
      position: absolute;
      top: -10%;
      right: -10%; }
  body .nrs {
    width: 80%;
    margin: 120px 0;
    position: relative;
    padding-top: 5rem;
    margin-left: auto; }
    body .nrs .nrs-img {
      background: url(/img/nrs.jpeg);
      height: 500px;
      width: 90%;
      background-size: cover; }
    body .nrs .company-description {
      width: 250px;
      height: 400px;
      position: absolute;
      top: 50%;
      left: -22%;
      color: #f4f4f4ce;
      font-size: 1.3rem; }
      body .nrs .company-description a {
        text-decoration: none;
        color: #af9540; }
        body .nrs .company-description a:hover {
          color: #f4f4f4ce; }
    body .nrs .nrs-floating-text {
      font-family: "Londrina Outline", cursive;
      color: #af9540;
      font-size: 200px;
      position: absolute;
      top: -10%;
      left: -10%; }
  body footer {
    background: #282828;
    min-height: 400px; }
    body footer .container {
      width: 90%;
      margin: 2rem;
      height: 450px;
      margin-bottom: 0; }
      body footer .container .upper-footer {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-top: 36px;
        color: #f4f4f4ce;
        height: 300px;
        border-bottom: 1px solid #f4f4f4ce; }
        body footer .container .upper-footer .city {
          width: 20%;
          align-self: center; }
      body footer .container .lower-footer {
        color: #f4f4f4ce;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem; }
        body footer .container .lower-footer h1 {
          padding-left: 1rem;
          font-weight: 100;
          font-size: 1.7rem;
          align-self: center; }
          body footer .container .lower-footer h1 span {
            font-weight: 600; }
        body footer .container .lower-footer a {
          align-self: center;
          text-decoration: none;
          color: #f4f4f4ce;
          padding-bottom: 0.5rem; }
          body footer .container .lower-footer a:hover {
            color: #af9540; }
